.banner{
    background:url(img/x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 500px;
}

.bb{
    background:url(img/thunderstorm-1802221_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 500px;
}

.aa{
    background:url(img/images\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 500px;
}


.cc{
    background:url(img/360_F_92865771_lf8BALo2vMtKWrrZhlTn3S1LBm0XSSm4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 500px;
}

.dd{
    background:url(img/aa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 500px;
}

.ee{
    background:url(img/123.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 500px;
}

.ff{
    background:url(img/the-village-5836480_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 500px;
}